
.custome-button-distance{
    margin-right: 10px; 
}

.custom-navbar-nav{
    margin-left: 10%;   
  }
  
.btn-light{
    margin-left: 30%;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 70vh; 
}

/* In your CSS file or style tag */
.bg-img{
    background-image: url('/assets/Background.png/');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; 
  }

  

  